<div class="spacex-card">
    <figure class="figure-item">
        <img [src]="card.links.mission_patch_small" alt="{{card.mission_name}}"
            onerror="this.onerror=null;this.src='assets/images/thumbnail-default.png';" />
    </figure>
    <p ref="gf" class="spacex-card__title">{{card.mission_name}} #{{card.flight_number}}</p>
    <div>
        <div class="spacex-card__detail type-list">
            <p class="spacex-card__detail-label">Mission Ids:</p>
            <ul class="detail-value">
                    <div *ngIf="card.mission_id?.length > 0" >
                            <li *ngFor="let each of card.mission_id"> {{each}}</li>
                    </div>
                    <li *ngIf="!card.mission_id?.length" >  NA</li>
            </ul>
        </div>
        <div class="spacex-card__detail">
            <p class="spacex-card__detail-label">Launch Year:</p>
            <p class="detail-value"> &nbsp; {{card.launch_year || 'NA'}}</p>
        </div>
        <div class="spacex-card__detail">
            <p class="spacex-card__detail-label">Successful Launch:</p>
            <p class="detail-value"> &nbsp; {{card.launch_success || ' NA'}}</p>
        </div>
        <div class="spacex-card__detail">
            <p class="spacex-card__detail-label">Successful Landing:</p>
            <p class="detail-value"> &nbsp; {{card.landing_success || ' NA' }}</p>
        </div>
    </div>
</div>