
  .spacex-flight-wrapper {
    display: grid;
    grid-gap: 25px;
    font-size: 22px;
  }
  
  @media screen and (min-width: 1024px) {
    .spacex-flight-wrapper {
      grid-template-columns: repeat(4, calc(25% - 7.5px));
      grid-gap: 10px;
      font-size: 22px;
    }
  }
  
  @media screen and (min-width: 701px) and (max-width: 1023px) {
    .spacex-flight-wrapper {
      grid-template-columns: repeat(2, calc(50% - 5px));
      grid-gap: 10px;
      font-size: 22px;
    }
  }
  .spacex-flight-wrapper__alert-msg{
    grid-column: 1/5;
    text-align: center;
  }
  .sub-msg{
    color: grey;
    font-size: 20px;
  }